@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Udemy Offline English Courses Platform </h1>
    <p class="lead">Using this website can provide users with a platform for booking English learning courses. Users can view courses and book courses through the website which they want to participate.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Business & Executive Courses</h2>
        <p>
            Business English courses aim to improve your speaking, listening, reading and writing skills, vocabulary and grammar, within the context of British and international business.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>English for Specific Purposes</h2>
        <p>If you want to study English for professional reasons – for example, if you work in Law or Medicine – then this may be the option for you. These courses are usually intensive and can be delivered either one-to-one or in small groups. Work placements and/or visits may be included.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>English Grammar-based</h2>
        <p>Traditional language lessons were heavily reliant on grammar-based instruction, with lots of explanations of rules, lots drilling of structures and lots of translation exercises. But grammar alone doesn’t get you very far. Vocabulary is more useful.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>