
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<p>@Html.ActionLink("Allocate Role To User", "AllocateRoleToUser")</p>
<p>@Html.ActionLink("Getting Roles for user", "GettingRolesforuser")</p>
<p>@Html.ActionLink("Delete user's Roles", "DeleteRoleToUser")</p>